In [1]:
import pandas as pd

df_jan = pd.read_csv('../../data/bicing/processed/months/2023_01_STATIONS.csv')
df_feb = pd.read_csv('../../data/bicing/processed/months/2023_02_STATIONS.csv')
df_march = pd.read_csv('../../data/bicing/processed/months/2023_03_STATIONS.csv')
df_april = pd.read_csv('../../data/bicing/processed/months/2023_04_STATIONS.csv')
df_may = pd.read_csv('../../data/bicing/processed/months/2023_05_STATIONS.csv')
df_june = pd.read_csv('../../data/bicing/processed/months/2023_06_STATIONS.csv')
df_july = pd.read_csv('../../data/bicing/processed/months/2023_07_STATIONS.csv')
df_aug = pd.read_csv('../../data/bicing/processed/months/2023_08_STATIONS.csv')
df_sep = pd.read_csv('../../data/bicing/processed/months/2023_09_STATIONS.csv')
df_oct = pd.read_csv('../../data/bicing/processed/months/2023_10_STATIONS.csv')
df_nov = pd.read_csv('../../data/bicing/processed/months/2023_11_STATIONS.csv')
df_dec = pd.read_csv('../../data/bicing/processed/months/2023_12_STATIONS.csv')

In [2]:
df_jan = df_jan[(df_jan['month'] == 1) & (df_jan['year'] == 2023)]
df_feb = df_feb[(df_feb['month'] == 2) & (df_feb['year'] == 2023)]
df_march = df_march[(df_march['month'] == 3) & (df_march['year'] == 2023)]
df_april = df_april[(df_april['month'] == 4) & (df_april['year'] == 2023)]
df_may = df_may[(df_may['month'] == 5) & (df_may['year'] == 2023)]
df_june = df_june[(df_june['month'] == 6) & (df_june['year'] == 2023)]
df_july = df_july[(df_july['month'] == 7) & (df_july['year'] == 2023)]
df_aug = df_aug[(df_aug['month'] == 8) & (df_aug['year'] == 2023)]
df_sep = df_sep[(df_sep['month'] == 9) & (df_sep['year'] == 2023)]
df_oct = df_oct[(df_oct['month'] == 10) & (df_oct['year'] == 2023)]
df_nov = df_nov[(df_nov['month'] == 11) & (df_nov['year'] == 2023)]
df_dec = df_dec[(df_dec['month'] == 12) & (df_dec['year'] == 2023)]

In [3]:
df_2023 = pd.concat([df_jan, df_feb, df_march, df_april, df_may, df_june, df_july, df_aug, df_sep, df_oct, df_nov, df_dec])
df_2023.sort_values(by=['grouped_date'], inplace=True)
df_2023.head()

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,status,is_renting,is_returning,year,month,day,hour,grouped_minute,day_of_week,is_weekend,grouped_date,docking_available,bikes_available,bikes_available.mechanical,bikes_available.ebike
3826,1,37,35,2,9,IN_SERVICE,1,1,2023,1,1,0,0,6,1,2023-1-1 0:00,True,True,True,True
4396,185,9,4,5,8,IN_SERVICE,1,1,2023,1,1,0,0,6,1,2023-1-1 0:00,True,True,True,True
4397,188,23,20,3,4,IN_SERVICE,1,1,2023,1,1,0,0,6,1,2023-1-1 0:00,True,True,True,True
4398,196,6,1,5,21,IN_SERVICE,1,1,2023,1,1,0,0,6,1,2023-1-1 0:00,True,True,True,True
4399,201,2,0,2,22,IN_SERVICE,1,1,2023,1,1,0,0,6,1,2023-1-1 0:00,True,True,False,True

In [5]:
df_2023['grouped_date'] = pd.to_datetime(df_2023['grouped_date'])
df_2023['season'] = df_2023['grouped_date'].dt.month.apply(lambda x: 'Spring' if x in [3, 4, 5] else 'Summer' if x in [6, 7, 8] else 'Autumn' if x in [9, 10, 11] else 'Winter')
df_2023.head(4)

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,status,is_renting,is_returning,year,month,...,hour,grouped_minute,day_of_week,is_weekend,grouped_date,docking_available,bikes_available,bikes_available.mechanical,bikes_available.ebike,season
3826,1,37,35,2,9,IN_SERVICE,1,1,2023,1,...,0,0,6,1,2023-01-01,True,True,True,True,Winter
4396,185,9,4,5,8,IN_SERVICE,1,1,2023,1,...,0,0,6,1,2023-01-01,True,True,True,True,Winter
4397,188,23,20,3,4,IN_SERVICE,1,1,2023,1,...,0,0,6,1,2023-01-01,True,True,True,True,Winter
4398,196,6,1,5,21,IN_SERVICE,1,1,2023,1,...,0,0,6,1,2023-01-01,True,True,True,True,Winter

In [ ]:
df_weather = pd.read_csv('../../data/weather_clean.csv')

df_weather.head(3)

In [ ]:
df_weather['date'] = pd.to_datetime(df_weather['date'])
df_weather['day'] = df_weather['date'].dt.day.astype(int)
df_weather['month'] = df_weather['date'].dt.month.astype(int)
df_weather['year'] = df_weather['date'].dt.year.astype(int)
df_weather['hour'] = df_weather['hour'].astype(int)

In [ ]:
df_2023_weather = pd.merge(df_2023, df_weather, on=['year', 'month', 'day', 'hour'], how='left')
df_2023_weather.head(3)

In [ ]:
station_info_df = pd.read_csv('../../data/bicing/processed/2024_STATION_LOCATIONS.csv', dtype={'post_code': str})
station_info_df.head()

In [ ]:
df_2023_weather_station = pd.merge(df_2023_weather, station_info_df, on='station_id', how='left')
df_2023_weather_station.head()

In [ ]:
df_2023_weather_station.columns

In [ ]:
columns_to_keep = ['station_id', 'num_bikes_available',
                   'num_bikes_available_types.mechanical',
                   'num_bikes_available_types.ebike', 'num_docks_available', 'status',
                   'is_renting', 'is_returning', 'day_of_week', 'is_weekend', 'grouped_date',
                   'docking_available', 'bikes_available', 'bikes_available.mechanical',
                   'bikes_available.ebike', 'temperature', 'rainfall', 'lat', 'lon', 'post_code', 'altitude', 'capacity', 'year', 'month', 'day', 'hour','season'
       'grouped_minute']

df_2023_ml = df_2023_weather_station[columns_to_keep]
df_2023_ml.head()

In [ ]:
df_2023_ml[df_2023_ml['capacity'].isnull()]['station_id'].unique()
#Station 520 missing information
df_2023_ml = df_2023_ml[df_2023_ml['station_id'] != 520]

In [ ]:
df_2023_ml.isnull().sum()

In [ ]:
df_2023_ml['grouped_date'] = pd.to_datetime(df_2023_ml['grouped_date'])

In [ ]:
holidays = ['01/06/2023', '04/07/2023', '04/10/2023', '05/01/2023', '06/24/2023', '08/15/2023', '09/11/2023', '10/12/2023', '11/01/2023', '12/06/2023', '12/08/2023', '12/25/2023', '12/26/2023']
df_2023_ml['is_holiday'] = df_2023_ml['grouped_date'].isin(holidays)
df_2023_ml[df_2023_ml['is_holiday'] == True]['grouped_date']

In [ ]:
df_2023_ml['percentage_docks_available'] = df_2023_ml['num_docks_available'] / df_2023_ml['capacity']
df_2023_ml.head(5)